* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body style start */
body {
    background-color: #d9dcd6;
}
/* body style end */

/* header style start */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 { /* As the only instance of an "h1" tag occurs within the "header" tag, this selector could simply be "h1" */
    display: inline-block;
    font-size: 48px;
}

header h1 span { /* As the only instance of a "span" tag occurs within the "header" "h1" tags, this selector could simply be "span" */
    color: #d9dcd6;
}

header nav { /* As the only instance of a "nav" tag occurs within the "header" tag, this selector could simply be "nav" */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul { /* As the only instances of "ul" tags occur within the "header" "nav" tags, this selector could simply be "ul" */
    list-style-type: none;
}

header nav ul li { /* As the only instances of "li" tags occur within the "header" "nav" "ul" tags, this selector could simply be "li" */
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a { /* As the only instances of "a" tags occur within the "header" "nav" "ul" "li" tags, this selector could simply be "a" */
    color: #ffffff;
    text-decoration: none;
}
/* header style end */

/* hero style start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* hero style end */

/* content style start */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content div img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p { /* All instances of "p" tags currently utilize the same font-size for styling, and as such, are consolidated here */
    font-size: 16px;
}
/* content style end */

/* benefits style start */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits div h3 { /* As the only instances of "h3" tags occur within the .benefits-class div tags, this selector could simply be "h3" */
    margin-bottom: 10px;
    text-align: center;
}

.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* benefits style end */

/* footer style start */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/* footer style end */