:root {
    --primary-color: #6fcdd9;
    --secondary-color: #464752;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    padding-right: 20px;
    text-align: end;
    width: 30%;
}

.section-text {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
}

.section-border {
    padding-left: 20px;
    border-left: 3px solid;
    border-color: var(--secondary-color);
}

header {
    background-color: #464752;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    margin: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 36px;
    background-color: #6fcdd9;
    color: #464752;
    padding: 20px;
}
  
header a {
    text-decoration: none;
    color: #6fcdd9;
}

header nav {
    margin: 7px 20px;
    padding: 0 4%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px;
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    padding: 60px;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 5%;
    padding: 5px;
}

footer a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: block;
}

.hero-img {
    width: 20%;
    margin: 3.5% 5% 3.5% auto;
}

.hero-img img {
    width: 100%;
    border-radius: 15px;
}

.flex-row {
    display: flex;
    align-items: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        width: 80%;
    }
      
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }
    
    .section-title {
        width: 95%;
    }
    
    .intro p {
        width: 100%;
    }
    
    .trainer {
        flex: 0 100%;
    }
    
    .contact-info {
        text-align: center;
    }
    
    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}